<div class='container'>
  <div class='row'>
    <div class='col s12'>
      <h3 class='title-text'>What I eat most days</h3>
      <div class='col s12'>
        <%= image_tag 'food_log.png', class: 'food-img'%>
      </div>
      <div class='col s12'>
        <%= image_tag 'vit_min_log.png', class: 'food-img'%>
      </div>  
    </div>
  </div>
</div>
