<div class='title-div'>
  <h3 class='title-text'>What I eat most days</h3>
</div>
<div class='container'>
  <h4> Example 1: </h4>
  <div class='row'>
    <div class='col s12'>
      <%= image_tag 'food_log1.png', class: 'food-img'%>
    </div>
    <div class='col s12'>
      <%= image_tag 'vit_min_log1.png', class: 'food-img'%>
    </div>  
  </div>
  <h4> Example 2: </h4>
  <div class='row'>
    <div class='col s12'>
      <%= image_tag 'food_log2.png', class: 'food-img'%>
    </div>
    <div class='col s12'>
      <%= image_tag 'vit_min_log2.png', class: 'food-img'%>
    </div>  
  </div>
  <h4> Example 3: </h4>
  <div class='row'>
    <h5 class='center'> I probably didn't eat anything except an americano.</h5>
  </div>
</div>
