<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    })(jQuery);  
</script>
    
    
<!- parralax ->
<div class="parallax-container terrier-parallax">
  <div class="parallax"><%= image_tag 'wheaton-terrier.jpg' %></div>
  
  <div class='row'>
    <div class='col s12 m6'>
      
   <ul class='collection gal-collection'>
     <li class='collection-header'>
       <H3 class='dark-text'>Gallbladder-vegan</H3>
     </li>
      <a class='collection-item grey-text text-lighten-4' target='_blank'
        HREF="https://www.livestrong.com/article/475645-vegan-diet-for-the-gallbladder/" ADD_DATE="1514099851" ICON="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAACQ0lEQVQ4jWVSz0tVURCeuec+9P4si8jAElcJtYisXo/IzFyWFkHhK4jwDwh3Ue7UAluVtTGUwK1a20qFViaFOwnigUSL8Efv+bznPn/cMzMtrqnR7OY73zDzne/DYhTDnhIRAEDEf4FdxAIAIiKi9BERETFlEZEhTltjTApaxOz5vu/7xJzO7LA9zwsDn5mqMnbN/hAAmNkKnOrhoaFXgy8Cp5qZ071E5LrO7MzMrZs3cmfPtF1u6e/t272xveN665U2EVksrhajeKUclSsb374XamoOAIDjOCnz56/Fkq7YIhIEAVqYChARItoX+l9mZ0ql4rls9v3HyUKhMD42xsyIaCEiM6dN+huImBiqO1YPAPPz888GBuobGp729zmuS0QWAAgAiOwoVkrFcSWbyz3o7o61ftLXe+rkidfDI2HoEzGISGf+ztWODmZeKpWLUfx7Ta+Uo+KajjeTN6OjxxsbUw1jb99tJsaSVDozGWOSJEkSYwwibiVbAnDv7t2vc3PX2tsRcWJiXNnKBhEA9FzPzmRqDx1M/dwS+DT9eWR4JJ/P1x2tszMZEfFcFwFQRG535qcnJ+93dWmtEREQH/X0/FhYuHA+uxMZx3E/TE2dbmpSDx/3bKxvsPDy0lKko2htLdb6Ukvr4doj65WYRcIwvNjc/HzwZTaX03EFl8uR5zpVtrL2RHA1XgeAwHN0XEmMCfyAAXSklbKwGMVEtJ3Jv/lTSokIMyulENEQIUAK2gCglIL/ChEty0qdsZUFsG3rH5BBUdoxZgFhAAAAAElFTkSuQmCC">Vegan Diet for the Gallbladder | LIVESTRONG.COM
      </a>
      <a class='collection-item grey-text text-lighten-4' target='_blank'
         HREF="http://www.onegreenplanet.org/natural-health/foods-to-eat-and-to-avoid-to-take-care-of-your-gallbladder/" ADD_DATE="1514101053" ICON="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABuElEQVQ4jY2Qz0tUcRTFP+e+mbFRHkJaGGGbIBdKST82obvaWLqXQshNq+hf6F9oUX9Ai5bpTjIhCYp2QQSJQkXQIhdm6UjjvPc9bQom6mV3d7nnfu65R/xH5dOnBkt6Jkju7LUGH7O6Wvya1Q5abk6PziYzjMt+FB3ynafAwYDeqbHzynQJezyJjqQ1zGSf2nkL9qoBMyN5M9XnEUdtz8rcE+TYFyxeRZa5Wx5/WHbtDHAHM2QIh3ZtlkGfhC67Ux6rBPROnz6rxOHAm5hhmRUAwTxixvJKyrT1DwflTaFrKbFoGCNYDNIGoY+C+7Imo+R6FUAkGhZXlMU7Sc+VPJBKfZM9YLiNyFP4WTegO0QDC8BV7DkUt1KZNYhyAjRheCD7uxz9VQBQFMIPjUfAJ0LpQ5JfQAwAFxHnhDcqM0jSW6OmieUM1lyzRDYHviH5CMl3W+141L2TdTfF+uftnpPHXzor2i6Sg1onRWoHfJHjfYSf7C+9Wf/NNBXVNzU6XkRq1ffrXztZyhuHiu2dhbWtn1lVZND9TkSzbrV3l19vApvtCl1UubBogIeqDnQD/j5I7JbmQMAPrCi7sND/hT8AAAAASUVORK5CYII=">Foods to Eat and to Avoid to Take Care of Your Gallbladder | One Green Planet
      </a>
      <a class='collection-item grey-text text-lighten-4' target='_blank'
         HREF="https://www.vegetariantimes.com/health-and-nutrition/avoiding-gallstones-might-be-easier-than-you-think" ADD_DATE="1514101129" ICON="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAACNElEQVQ4jV2SzUuUURTGn+e+r+OMNpOjk5P2oSmSlVFGK8FatOiDCvwHAsFtu/6AVm5aBUJBhG5btCmSKEMX1iIQRlOExEwnsxk1dcZxnJn3ntPidVR6Fpd7Lr/znHPhoaoCALB/IXm4FBWHDggRMcZQRA5zh1GFiopr3HwpY6VYHagD1LAsPZCIWlU1NK5xU9tzQ4m+ZGaSpKi4+35QKASAMY5fLmemJ1Zef0sNF7wc4agqQRdliYrjOABWc/Mz6Y+za5/W84uxUPPN1kdji89FPYAKuOW9xXGc5NbU2M9nv7Mzkcp4W233/WOPT0QubBf+jvx4GqqoAZV+g6g4xvn669XowkBH/M6NMw8bI+cBlOxuwdtZzk6Tpi7URKUqXVUxNEubiS/JoQeXXzSE2wGsZGcXNyeqAjUt0a5kJnE02BiujIkKSVehhpxMvelu6msItxe9/OfkoCeFjvpb8SNnqZj687brdC9JUUs4LmlUVdS2RrtyxY3RhYHm6NWO+tv+397N9Vc4oSsNPSJCGACuqhpjYlUtudLGfGr8YvxuU02nT7+fezKT/tDbORgwIavW0ACgtZZkppCeTg+31V2rr24teLmlrcT40ktRr+dcf23opIgljR8CiljCZItr28W1oBuZXR1J5b4X7W577Pql4/cAWNnz3kuQiKja9XwyGjxVsjs73mbQDVcHogBEBFCWaT9sFCsKUaihQxAEABHrv/icqvrn3gT8LyUJHIR3vwfAP32xPIDM7z0UAAAAAElFTkSuQmCC">Avoiding Gallstones Might Be Easier Than You Think - Vegetarian Times
      </a>
      <a class='collection-item grey-text text-lighten-4' target='_blank'
         HREF="https://healthyliving.azcentral.com/benefits-vegan-diet-gallbladder-16666.html" ADD_DATE="1514101164" ICON="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACdklEQVQ4jZWTS0hVYRSFv/2fc3+1a2kvlF5Owh4SPcSkGij2gKCwCCWIIEc1iCACo+iFDZo4KxpGNQqiRmUPb0VRRC9IwRdWRCqSXrX03uzec86/G0RBkERrtmGvxWbxbeE/lTN/ZWlUWFSPi9aEMW+vP+Vm49PpWA6ArMaTCfxpNzi56r66sN6kxs66+MzjtN9Py5QBZ55vQrxWxAN1IAL5s77S87LKtl502ezIAP0do2bqW+e9wQVFnCoXTlcIxlRgZJIV1W+ztY1p+jtG/zSU1VnKt0/7ZwlHEw9o7v36a5S80pr5kWdeKxQDYLwvJkpXZpLDgza/4IuKZ0AnJMq8l9FB58q3XQi2Hj7Bt/EmmtZd8bOet9KgE6rswyMtLrrtJPeFLVqwQVWuqRMrouNKfgPGiib7PpJKXsfGa4ErJupqbQm6EqWhF7aFor3AXaBQncwIOhN7wu7WOkReAULw/WbYce8R8VnDROFsAN8v21Ijzt3CkQf0CcQUUHUGwF+6+QiqzTj3MjvQtgsAm5ciPZYCMOLcAyAKuhISdCUWgVwFiFn3Kba8Zq2INgOPg56Hlb+LjMJcjOkD+AWSY/HWudZmq1S1ESAI/d1GOaIAKm122eadmklt8fPi5yZH+rIUFHcC+ILuVuRaLBYMqcpnRC+jslGgRCEGjCG6X405JEGGSDVJTn43Ma8N4CeJq6oL/e/esjC0Hby7M86SDdNJu5CiOUKQETK5hpEeSPZM0HCpitKK9Rxbce6fzPxVl75Vmh1NB3MKFg76JRXrp36mv+n88Dzan3yS9nuz3ZyFxcbGa/8vYHLIYTPp6MOzlgiEsjr7A9zQDXt1Ipm6AAAAAElFTkSuQmCC">What Are the Benefits of a Vegan Diet on the Gallbladder? | Healthy Living
      </a>
      <a class='collection-item grey-text text-lighten-4' target='_blank'
         HREF="http://thekindlife.com/blog/2012/12/kind-cure-jessica-avoids-gallbladder-surgery-with-vegan-diet/" ADD_DATE="1514101223" ICON="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABfUlEQVQ4jcWST47aMBTGv0Zdl+QAjGIOEGwOkNi5gCcnAE5SxD1QKy7gVOw9DtkThwPgodnnj7hAN42Eqs6ozKbf8tNPPz2994D/nU+73W5FCHEA4Jwji8XCMsasUur5crmEs9nstW1bnxDi0jQttNbJPeedz+dotJVlmQghNABMJpPudrt9McbETdM8bbfbzcgRQtzIeavVal9VFTsej0me55JSWt+PKKX8YYwRnPOX+77v+wAAPMaYZYxVAEAprY0x4h6klFpjDI/juPjbDrz3FhTHcVEUhfB9v0vT9HEBpdTWdR0JIcxbzLuC6/VKptPpT+cc+ZDgdDpRIcSLtZa2bTt5WNA0zdMwDEEYhk4plT0sAACtNZdS5mVZJh8SHA4HyTk/5nkuxy4Mw9fNZvNVKfX8GQCqqmJ/3n/srLVzY0zc932gtU6GYQj2+30CAFmWKQ8A1uv1tyAIuvl8Xo2CsVsul9+jKDpzzo1zjmRZlndd5//+zjfP+8/5BeNHu6FBykSkAAAAAElFTkSuQmCC">Jessica Didn’t Need Surgery After All | The Kind Life
      </a>
   </ul>
  </div>
    </div>
  
</div>
<!- end of links collections -->

<div class='row sum-gal-row'>
  
  <div class='container'>
    <div class='col s12'>
      <h3 class= 'light-text' id='sum-gal-header'>
        Summary from what I can tell
      </h3>
    </div>
    <div class='divider light-text'></div>
    <div class='col s12' id='sum-gal-body'>
      <div class='flow-text light-text'>
        Whole Food Plant Based Diet would help because it has (1) zero cholestorol (2) low fat (3) High in Fiber. However, problems from past diet could still have potential to show.
      </div>
    </div>
  </div>
</div>