<head>
  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>
</head>
<body>
  <div>
    <div class="section title-section #424242 grey darken-3">
      <h4 class ='title-text'>
          Hang a while and chill
      </h4>
    </div> 
    <div class="section links-section black">
      <div class='row'>
        <div class='col s12 m4'>
          <h2 class="white-text header">Parallax</h2>
          <p class="white-text centered-txt text-darken-3 lighten-3">
            Parallax is an effect where the background content or image in this case, 
            is moved at a different speed than the foreground content while scrolling.
          </p>  
        </div>
        <div class='col s12 m4'>
          
        </div>
        <div class='col s12 m4'>
          
        </div>
        
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax AnA-parallax">
        <%= image_tag("bjjthrow.jpg") %>
        </div>
    </div>
  </div>
</body>

