<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header></header>
</head>
<body>
  <div>
    <div class='section ribbon-section'>
      <div class='row ribbon-row hide-on-small-only'>
        <div class='col s9 ribbon-col'>
        </div>
        <div class='col s1 teal lighten-2 ribbon-col'>
          <a href='https://www.google.com' >
            <i class='small material-icons'>person_pin</i>
          </a>
        </div>
        <div class='col s1 red ribbon-col'>
          <a href='https://www.google.com' >
            <i class='small material-icons'>person_pin</i>
          </a>
        </div>
        <div class='col s1 grey darken-1 ribbon-col'>
          <a href='https://www.google.com' >
            <i class='small material-icons'>person_pin</i>
          </a>
        </div>
      </div>
    </div>
    
    
    <div class='body'>
        <div class='row links-and-aside'>
          <!- Main Content -->
          <main>
          <div class="section col s12 m12 l8 links-section">
            <div class='container'>
              <h3 class ='title-text'>
                Hang a while and chill, dawg
              </h3>
              <div class='divider grey darken-2'></div>
              <br/>
            
              <div class='row'>
                <div class='col s12 m12 l4'>
                  <h5 class="header">School</h5>
                  <div class='links-collection'>
                    <div class="collection">
                      <a href="https://outlook.office.com/owa/?realm=tigermail.auburn.edu" 
                          target='_blank'
                          class="collection-item">Tigermail</a>
                      <a href="https://auburn.instructure.com/?login_success=1" 
                          target='_blank'
                          class="collection-item">Canvas</a>
                      <a href="https://auaccess.auburn.edu/" 
                          target='blank'
                          class="collection-item">Au Access</a>
                    </div>
                  </div>
                </div>
                <div class='col s12 m12 l4'>
                  <h5 class="header">Work</h5>
                  <div class='links-container'>
                    <div class="collection">
                      <a href="https://mail.google.com/mail/u/0/#inbox" 
                          target='_blank'
                          class="collection-item ">Gmail</a>
                      <a href="https://drive.google.com/drive/my-drive" 
                          target='_blank'
                          class="collection-item">Google Drive</a>
                      <a href='https://www.udemy.com/home/my-courses/learning/'
                          target='_blank'
                          class='collection-item'>Udemy</a>
                    </div>  
                  </div>
                </div>
                <div class='col s12 m12 l4'>
                  <h5 class="header">Time-wasters</h5>
                  <div class='links-container'>
                    <div class="collection">
                      <a href="https://www.facebook.com/" 
                          target='_blank'
                          class="collection-item ">Facebook</a>
                      <a href="https://www.youtube.com/" 
                          target='_blank'
                          class="collection-item ">Youtube</a>
                    </div>
                  </div>
                </div>  
              </div>
              
              <br/>
              <div class='divider grey darken-2'></div>
            
            </div>  
          </div> 
          </main>
          
          <!- Aside --> 
          <div class='col m4 div-above-aside'></div>
          
          <div class="col s12 m12 l4">
            
            <div class="card">
              <div class="card-image">
                <%= image_tag "rafa-miyao.jpg" %> 
                <span class="card-title">
                </span>
              </div>
              <div class="card-content">
                <p>Learn you some BJJ</p>
              </div>
              <div class="card-action">
                <a href="https://www.youtube.com/results?search_query=mendes+brothers"
                    target='_blank'>Videos</a>
              </div>
            </div>
            
            <div class="card">
              <div class="card-image">
                <%= image_tag "lionandthelamb.jpg" %> 
                <span class="card-title">
                </span>
              </div>
              <div class="card-content">
                <p>Why should man expect mercy from what is above him when he shows no mercy to what is beneath him?</p>
              </div>
              <div class="card-action">
                <a href="https://www.youtube.com/watch?v=uMFt6sjPATw&index=1&list=FLvTkwJNdtJq4E3_lzgehGBw"
                    target='_blank'>Videos</a>
              </div>
            </div>
          
          </div> 
          
            
        </div>
        
        
    </div>
    
  </div>
    
</body>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Take it easy, Dawg</h5>
        <p class="grey-text text-lighten-4">Just stay a while longer: no rush</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Ignore these links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">I dont work yet</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">I dont work yet</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright 
    </div>
  </div>
</footer>

