<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div>
    
    <div class='section ribbon-section black'>
      <div class='row ribbon-row'>
        <div class='col s9 ribbon-col'>
        </div>
        <div class='col s1 teal lighten-2 ribbon-col'>
          <a href='https://www.google.com' >
            <i class='small material-icons'>person_pin</i>
          </a>
        </div>
        <div class='col s1 red ribbon-col'>
          <a href='https://www.google.com' >
            <i class='small material-icons'>person_pin</i>
          </a>
        </div>
        <div class='col s1 grey darken-1 ribbon-col'>
          <a href='https://www.google.com' >
            <i class='small material-icons'>person_pin</i>
          </a>
        </div>
      </div>
    </div>
    
    
    <div class='black'>
      <div class= 'container black-container'>
        
        <div class="section links-section black">
          <h3 class ='title-text'>
              Hang a while and chill
          </h3>
          <div class='divider grey darken-2'></div>
          
          <div class='row'>
            <div class='col s12 m4'>
              <h4 class="header">School</h4>
              <div class='links-container'>
                <div class="collection">
                  <a href="https://outlook.office.com/owa/?realm=tigermail.auburn.edu" 
                      target='_blank'
                      class="collection-item teal lighten-2 black-text">Tigermail</a>
                  <a href="https://auburn.instructure.com/?login_success=1" 
                      target='_blank'
                      class="collection-item teal lighten-2 black-text">Canvas</a>
                  <a href="https://auaccess.auburn.edu/" 
                      target='blank'
                      class="collection-item teal lighten-2 black-text">Au Access</a>
                </div>
              </div>
            </div>
            <div class='col s12 m4'>
              <h4 class="header">Work</h4>
              <div class='links-container'>
                <div class="collection">
                  <a href="https://mail.google.com/mail/u/0/#inbox" 
                      target='_blank'
                      class="collection-item teal lighten-2 black-text">Gmail</a>
                  <a href="https://drive.google.com/drive/my-drive" 
                      target='_blank'
                      class="collection-item teal lighten-2 black-text">Google Drive</a>
                </div>  
              </div>
            </div>
            <div class='col s12 m4'>
              <h4 class="header">Time-wasters</h4>
              <div class='links-container'>
                <div class="collection">
                  <a href="https://www.facebook.com/" 
                      target='_blank'
                      class="collection-item teal lighten-2 black-text">Facebook</a>
                  <a href="https://www.youtube.com/" 
                      target='_blank'
                      class="collection-item teal lighten-2 black-text">Youtube</a>
                </div>
              </div>
            </div>
          </div>  
        
          
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <%= image_tag "bjjthrow.jpg" %> 
                  <span class="card-title">
                  </span>
                </div>
                <div class="card-content black white-text">
                  <p>Learn you some BJJ</p>
                </div>
                <div class="card-action black">
                  <a href="https://www.youtube.com/results?search_query=mendes+brothers"
                      target='_blank'>Videos</a>
                </div>
              </div>
            </div>
          </div>
            
          <div class='row'>
            <div class='col s12 m4 red'>
              <div class='row'>
                <div class='col s12 m4 red'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 black'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 teal lighten-2'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 grey darken-1'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
              </div>
            </div>
            <div class='col s12 m4 teal lighten-2'>
              <div>
                <div class='row'>
                <div class='col s12 m4 red'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 black'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 teal lighten-2'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 grey darken-1'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
              </div>
              </div> 
            </div>
            <div class='col s12 m4 grey darken-1'>
              <div>
                <div class='row'>
                <div class='col s12 m4 red'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 black'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 teal lighten-2'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
                <div class='col s12 m4 grey darken-1'></div> 
                  <div class='col s12 m4 red'>
                    <div class='row'>
                      <div class='col s12 m4 red'></div> 
                      <div class='col s12 m4 black'></div> 
                      <div class='col s12 m4 teal lighten-2'></div> 
                      <div class='col s12 m4 grey darken-1'></div> 
                    </div>
                  </div>
              </div>
              </div> 
            </div>
          </div>  
        </div>
      
        
      
     </div> 
    </div>
         
  </div>
    
</body>

