<!- scripts ->
<script>
  $(document).ready(function(){
    $('#link_title').focus(function() {
      $('#link_title_label').addClass('active');
    });
  });
  $(document).ready(function(){
    $('#link_url').focus(function() {
      $('#link_url_label').addClass('active');
    });
  });
  
  $(document).ready(function(){
    $('#link_title').blur(function() {
      if(document.getElementById('link_title').value.length == 0)
      $('#link_title_label').removeClass('active');
    });
  });
  $(document).ready(function(){
    $('#link_url').blur(function() {
      if(document.getElementById('link_url').value.length == 0)
      $('#link_url_label').removeClass('active');
    });
  });
</script>
<!- end of scripts ->

<!- form ->
<%= form_for(@link) do |f| %>
  <div class='container'>
    <div class='row'>
      <div class='col s12'>
        
        <!- input fields ->
        <div class='input-field col s12'>
          <input class='' id='link_title' type='text'>
          <label class='string' id='link_title_label' for='link_title'>Title</label>
        </div>
        
        <div class='input-field col s12'>
          <input class='' id='link_url' type='text'>
          <label class='string' id='link_url_label' for='link_url'>URL</label>
        </div>
        <!- end of input fields ->
        
        <div class='row'>
          <div class="col s6 offset-s6 actions ">
            <button class="btn waves-effect waves-light " type="submit" name="action">Create Link</button>
            <a href= '/links' class="waves-effect waves-teal btn-flat">Back</a>
            <br/><br/>
          </div>  
        </div>
        
      </div>
    </div>
    
  </div>
  
  <!- errors ->
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!- end of errors ->

<% end %>
<!- end of form ->
