<div class='row'>
  <div class='col s12'>
    <br/>
    <h2 class='center'>New Link</h2>
  </div>
</div>

<%= render 'form' %>

<div class='container'>
  <div class='row'>
    <div class='col s6 offset-s7'>
      <%= link_to 'Back', links_path %>
    </div>
  </div>
  <br/><br/>
</div>
