@import "materialize/components/color";
$primary-color: color("red", 'base') !default;
$secondary-color: color("blue-grey", "base") !default;
@import 'materialize';

.logo {
}

.centered-txt {
  text-align: center;
}

.parallax-container {
  height: 500px;
}

.links-section {
  height: 1000px;
}

.title-section {
  height: 100px;
}
 
.title-text {
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.AnA-parallax {
}

.header {
  text-align: center;
  color: grey;
}

.links-container {
  padding-left: 10px;
  padding-right: 10px;
}

.ribbon-section {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ribbon-row {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ribbon-col {
  height: 60px;
}