@import "materialize/components/color";
$primary-color: color("red", 'base') !default;
$secondary-color: color("blue-grey", "base") !default;
@import 'materialize';

.logo {
  margin-left: 40px;
  color: black;
}

.centered-txt {
  text-align: center;
}

.parallax-container {
  height: 500px;
}

.links-section {
  height: 500px;
}

.title-section {
  height: 100px;
}
 
.title-text {
  text-align: center;
  color: white;
}

.AnA-parallax {
}

.header {
  text-align: center;
}