@import "materialize/components/color";
$primary-color: color("red", 'base') !default;
$secondary-color: color("grey", "base") !default;
@import 'materialize';

.logo {
}

.centered-txt {
  text-align: center;
}

.parallax-container {
  height: 500px;
}

.links-section {
  padding-top: 0px;
}

.title-section {
  height: 100px;
}
 
.title-text {
  margin-top: 0px;
  text-align: center;
  padding-bottom: 10px;
  @extend .grey-text, .text-darken-4;
}

.AnA-parallax {
}

.header {
  text-align: center;
  
  @extend .grey-text, .text-darken-3;
}

.links-collection {
  padding-left: 10px;
  padding-right: 10px;
}

.ribbon-section {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ribbon-row {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ribbon-col {
  height: 60px;
  text-align: center;
}

.ribbon-col > a > i {
  position: relative;
  top: calc(50% - 15px); /* 50% - 3/4 of icon height */
}

.ribbon-col > a {
  text-decoration: none;
  color: black;
}

.ribbon-col > a:hover {
  color: white;
}

.aside-col {
  margin-left: 20px;
}

.div-above-aside {
  height: 50px;
}
