<footer class="page-footer grey darken-2">
  <!- top footer -->
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="light-text">Take it easy, Dawg</h5>
        <p class="light-text">Just stay a while longer</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="light-text">Ignore these links</h5>
        <ul>
          <li><a class="light-text" href="#!">I dont work yet</a></li>
          <li><a class="light-text" href="#!">I dont work yet</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!- end of top footer -->
  
  <!- bottom footer -->
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright 
    </div>
  </div>
  <!- end of bottom footer -->
</footer>

<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav({edge: 'right'});
  })(jQuery);  
</script>
