<div class='navbar-fixed'>
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Relax dawg", root_path, class: 'brand-logo logo black-text', id: 'logo' %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav> 
</div>
